version: 2.1
jobs:
  test-end-to-end:
    docker:
      - image: jacobconley/habitat:buster-base@sha256:2aae479a31daaa416d682a886000a82a3f11651b78a4b7842fa200d6f30b784b

    working_directory: /go/src/github.com/jacobconley/habitat/
    steps:
      - run: 
          name: Clear metadata
          command: rm -rf ./* ./.[!.]*
          
      - checkout

      - run: 
          name: Set up test fixtures
          command: |
            cd test-fixtures/userland
            yarn install

      - run: build/test-unit
      - run: build/test-e2e


workflows:
  regression-testing:
    jobs:
      - test-end-to-end