version: 2.1
jobs:
  test-end-to-end:
    docker:
      - image: jacobconley/habitat:buster-base@sha256:55c4b6c82f103b62f9a8e610ca624a635c05b3ed453ba14c375d712323807900

    working_directory: /go/src/github.com/jacobconley/habitat/
    steps:
      - run: 
          name: Clear metadata
          command: rm -rf ./* ./.[!.]*
          
      - checkout

      - run: 
          name: Start PostgreSQL
          command: service postgresql start
      
      - run:
          name: Run migrations
          command: cd test-fixtures/userland && go run ../../habitat.go db migrate

      - run: 
          name: Set up test fixtures
          command: |
            cd test-fixtures/userland
            yarn install

      - run: build/test-e2e


workflows:
  regression-testing:
    jobs:
      - test-end-to-end