version: 2.1
jobs:
  test-end-to-end:
    docker:
      - image: jacobconley/habitat:buster-base@sha256:66d6fbeaccb32563b883eeecd5a1b73a0101a6a5487f6a142e8a8b84a92d9b0d

    working_directory: /go/src/github.com/jacobconley/habitat/
    steps:
      - run: 
          name: Clear metadata
          command: rm -rf ./* ./.[!.]*
          
      - checkout

      - run: 
          name: Start PostgreSQL
          command: service postgresql start

      - run: 
          name: Set up test fixtures
          command: |
            cd test-fixtures/userland
            yarn install
      
      - run:
          name: Run CLI setup
          command: |
            cd test-fixtures/userland
            go run ../../habitat.go db migrate

      - run: build/test-e2e


workflows:
  regression-testing:
    jobs:
      - test-end-to-end